@page
@model RentCarUnapec.Pages.VehicleType.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Tipo de Vehiculo</h1>

<h3>Seguro que desea eliminar Tipo de Vehiculo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VehicleType.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
